@charset "UTF-8";
	#header {
	color: #ffffff;
	text-align: center;
	font-size: 40px;
	background: black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 5px 8px 5px 8px;
	} 

	#nav {
	 background-color: #b3cc99;
	 text-align: center;
	 padding: 8 px;
	 }
	 
    nav ul li {
    display: inline;
	}

	a {
	color: white;
	text-decoration: none;
	font-size: 24;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
	}
	
	a:hover {
	color: green;
	}


body {
   font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
   font-size:24px
		}
		
	#H1 {
	text-align: center;
	font-size: 30px;
	}
	
   
   
  
}/* CSS Document */

