@charset "UTF-8";

	#header {
	text-align: center;
	font-size: 40px;
	background: url(https://c2.staticflickr.com/6/5066/5617961001_8d6e8c8432_z.jpg);
	font-family: "Rockwell", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 5px 8px 5px 8px;
	color:white;
	} 

	#nav {
	 background-color: #5C4033;
	 text-align: center;
	 padding: 8 px;
	 }
	 
    nav ul li {
    display: inline;
	}

	a {
	color: Black;
	text-decoration: none;
	font-size: 24;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
	}
	
	a:hover {
	color: #8E6B23;
	}


body {
   font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
   font-size:24px
		}
		
	
	#H1 {
	text-align: center;
	font-size: 30px;
	color:#8E2323;
		}
	
	#p1 {
	text-align: left;
   font-size: 25px;
   		}
   
   img {
      text-align: center;
      padding: 10px;
      float:left;
		}
		
	#funfacts {
	 text-align: left;
	 padding: 8 px;
		}
	#links {
	background-color:#5C4033;
	}



  
}/* CSS Document */

